<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
</body>
</html>
<body>
    <form action="" method="get" class="form">
        <label for="fun-fact">Enter your fun fact!</label>
    </br>
        <input type="text" name="fun-fact" id="fun-fact" />
    </br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>